@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-900 dark:text-white;
  }
}

@layer components {
  .section-padding {
    @apply py-16 md:py-24;
  }

  .container-padding {
    @apply px-4 sm:px-6 lg:px-8;
  }
}


.card{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card1{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
} 



body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #8e24aa;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 9px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 9px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}